numpy
scipy
matplotlib
librosa
sounddevice
soundfile
tensorflow
birdnetlib==0.18.1
fastapi
uvicorn
pydantic
sqlalchemy
pandas
openpyxl==3.1.5
#geopandas
contextily
pyproj
geocoder
scikit-maad
python-multipart
datetime
pytest
httpx